body {
    font-size: 2rem;
}

.page {
    display: flex;
    justify-content: center;
}

.calculator {
    justify-self: center;
    background-color: rgb(138, 130, 130);
    height: 600px;
    width: 400px;

    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;

    border-radius: 10px;
}

.display {
    border: solid 1px black;
    background-color: white;
    margin: 15px 15px 10px 15px;
    padding: 10px;

    grid-row: 1 / 2;
    grid-column: 1 / 5;

    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
    width: 100%;
    height: 100%;
    align-self: center;

    border-radius: 10px;
    font: inherit;
}

.buttons {
    display: grid;
    gap: 10px;
    margin: 15px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
